
body {
    margin: 0;
}

.container {
    width: 1290px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
}

.header-logo {
    width:200px ;
    height: auto;
    margin-left: 50px;
}

.header-nav {
    margin-top: 15px;
    margin-left: 30px;
}

.header-nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 23px;
    border-radius: 20px;
}

.header-nav a:hover {
    background-color: aquamarine;
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}

/* Header section Over */

/* Title - Start */

.image {
    position: relative;
    height: 500px;
}

.image img {
    width: 100%;
    height: 500px;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.image .img-txt {
    position: absolute;
    top: 30%;
    left: 25%;
    color: white;
    z-index: 2;
    text-align: center;
}

.img-txt h2 {
    font-size: 40px;
}

.img-txt p {
    font-size: 25px;
}
/* End of Title */
/* Features Section */

.features {
    border: 1px solid rgb(231, 157, 46);
}

.features .frame {
    flex: 0 0 24.80%;
    height: 310px;
    position: relative;
    border: 1.3px solid #7966a3;
}

.features .frame .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.features .frame .face1{
    background-color: #60479a;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.features .frame .face1 img {
    width: 100px;
    margin-top: 20px;
}

.features .frame .face1 h3 {
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 25px;
}

.features .frame .face1 p {
    color: white;
    font-size: 20px;    
}

.face1:hover   {
    transform: translateY(-100%) rotateX(90deg);
    transition: 0.5s;
}

.frame .face1:hover {
    background-color: rgb(230, 126, 78);
}

.frame:hover {
    background-color: white;
}

.face .face2 {
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
}

.face2 p {
    font-size: 20px;
    padding: 30px;
}

/* end of Features */

/* Start - About US */

.about-us {
    margin-top: 50px;
}

.about-us h2 {
    color: #4a2b92;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.about-us h2:after {
    display: block;
    height: 3px;
    width: 100px;
    background-color: #4a2b92;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

.about-us h3 {
    text-align: center;
    font-size: 28px;
}

.about-us p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}

.about-us img {
    width: 900px;
    height: 400px;
    margin: 0 175px;
    margin-bottom: 100px;
    border-radius: 20px;
}
.masterimg {
    position: relative;
    height: 600px;
    width: 1200;
}
.masteroverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}
.masterimg .c1{
    width: 650px;
}
.c1 .img1 {
    width: 700px;
}
.c1 .img1 img {
    width: 100%;
    height: 445%;
}

.masterimg .c2 {
    width: 500px;
}
.c2 .img2 {
    width: 750px;
}
.c2 .img2 img {
    width: 100%;
    height: 890%;
}
.c1 .img1 .abc-txt {
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 2;
    color: white;

}
.c1 .img1 .abc-txt2 {
    position: absolute;
    top: 680px;
    left: 20%;
    z-index: 2;
    color: white;

}

.c2 .img2 .abc-txt3 {
    position: absolute;
    top: 450px;
    right: 100px;
    z-index: 2;
    color: white;

}
.box{
    
    width: 70%;
    height: 400px;
    margin-left: 230px;
}
.box .ig {
   
    width: 45%;
    margin-top: 30px;  
}
.box .ig img {
    width: 100%;
    height: 100%;    
}
.box .tex {
    flex: 0 0 45%;
    width: 45%;
    margin-left: 50px;
    line-height: 1.6;
}
.box .tex h3 {
    font-size: 30;
}
.meet {
    flex: 0 0 45%;
    margin-left: 270px;
}
.meet img {
    width: 800px;
    position: relative;
}
.meet p {
    text-align: center;
}
.clients {
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
}
.c-text h3 {
    text-align: center;
    
    color: rgba(250, 17, 17, 0.829);
}
.c-text p {
    text-align: center;
    color: rgba(250, 17, 17, 0.644);
}

.slide {
    flex: 0 0 30%;
    margin: auto;
  
}
.slide img {
    width: 100%;
    background-color: rosybrown;
}
.last {
    background-color:#1E1E1E;
}
.l-slide {
    flex: 0 0 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.l-slide img {
    width: 100%;
    height: 100px;
}